@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";
  #flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 33px auto;
    width: 80vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;

     a {
        text-decoration: none;
        color: $gray-color;
        font-weight: $nonbold-font-weight;
        font-size: 18px;
        line-height: 20.7px;
        display: inline-block;
        margin-left: 50px;

        @media screen and (max-width: 813px) {
              display: none !important;
              text-decoration: none;
              color: $gray-color;
              font-weight: $nonbold-font-weight;
              font-size: 18px;
              line-height: 20.7px;
              display: inline-block;
              margin-left: 50px;
      }
    }
      i {
        display: none !important;

        @media screen and (max-width: 813px) { 
              display: inline-block !important;
              font-size: 24px !important;
        }
    }  
}
  
  #first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/images/Rectangle 1.png");
    background-color: $white-color;
    height: 64vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 99vw;

    h1 {
        font-weight: $bold-font-weight;
        color: $another-white-color;
        font-size: 79px;

        @media only screen and (max-width: 813px) {
              font-size: 10vw;
            }
      }

      p {
        font-weight: $nonbold-font-weight;
        color: $another-white-color;
        font-size: 19px;

        @media only screen and (max-width: 813px) {
            font-size: 3vw;
          }
      }
  }
  
  
  #big {
    margin: 84px  10vw 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1300px;

    @media only screen and (max-width: 1428px) {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 84px 11vw 140px 6vw;
    }

   @media only screen and (max-width: 1024px) {
         height: 2000px;
         -ms-flex-pack: distribute;
         -webkit-box-pack: justify;
                 justify-content: space-between;
         margin: 84px 14vw 140px;
     }
    
    @media only screen and (max-width: 813px) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 460vw;
        }

    #small1 {
        width: 215px;
        margin-right: 83px;

        @media only screen and (max-width: 1428px) {
            margin-right: 0;
            width: 27vw;
        }

        @media only screen and (max-width: 1024px) {
            width: 33vw;
        }
        @media only screen and (max-width: 813px) {
            width: 64vw;
            height: 27vw;
            display: -webkit-box;
            display: -ms-flexbox;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        h2 {
            color: $gray-color;
            font-weight: $nonbold-font-weight;
            font-size: 17px;

            @media only screen and (max-width: 813px) {
                font-size: 4vw;
            }
          }
          h3 {
            color: $black-color;
            font-weight: $nonbold-font-weight;
            font-size: 28px;
            margin-bottom: 37px;

            @media only screen and (max-width: 813px) {
                font-size: 6vw;
            }
          }
          
          span {
            color: $gray-color;
            font-weight: $nonbold-font-weight;
            font-size: 20px;

            @media only screen and (max-width: 813px) {
                font-size: 4vw;
            }
          }
      }

    #small2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 1000px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        height: 700px;

        @media only screen and (max-width: 1428px) {
            height: 1000px;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }
          
        @media only screen and (max-width: 1024px) {
             width: 286px;
             -ms-flex-line-pack: justify;
                 align-content: space-between;
             height: 2000px;
        }
        
        @media only screen and (max-width: 813px) {
            width: 64vw;
            height: 420vw;
        }
        .div {
          width: 286px;

        @media only screen and (max-width: 813px) {
            width: 64vw;
            display: -webkit-box;
            display: -ms-flexbox;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            -ms-flex-align: center;  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .head {
            font-weight: $nonbold-font-weight;
            font-size: 19px;
            color: $brown-color;
            margin: 23px 0 9px;
          }
          
          .text {
            font-weight: $nonbold-font-weight;
            font-size: 18px;
            color: $gray-color;
          }

          .img {
            @media only screen and (max-width: 813px) {
                width: 64vw;
            }
          }
        
      }  
  }

}